* {
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #949BA0;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-left: 15px;
    font-weight: 600;
    color: #fff;
}

.header {
    margin: 10px 10px;
    background-color: #848382;
    border-radius: 10px;
}

.header,
.navbar,
.gallery,
.gallery-item,
.editor,
.control-boxes-section {
    border-radius: 10px;
}


/*=====================================================================*/


/*navbar*/

.navbar {
    width: 100%;
    background-color: #BA9380;
    color: #fff;
}

.nav-container {
    height: 80px;
}

.nav-container ul {
    height: 100%;
    padding-left: 0;
}

.nav-container li {
    list-style-type: none;
    width: 8.125rem;
    height: 100%;
}

.nav-container a {
    text-decoration: none;
    display: block;
    color: #fff;
    line-height: 80px;
    font-size: 1.4em;
    margin: 0;
    text-align: center;
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

.nav-container a:hover,
li:hover {
    color: #ff0000;
    font-size: 1.5em;
}

.side-menu-btn {
    display: none;
}


/*=====================================================================*/


/*new*/

.gallery {
    margin: 0.625rem 1.25rem 0.625rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    align-items: center;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    text-align: center;
    object-fit: cover;
    margin: 10px auto 10px;
}

.grid img:hover {
    border: 2px solid rgb(255, 255, 255);
}

.canvas-section {
    margin-left: auto;
}


/* 
.canvas-section {
    margin: 0 auto 10px;
    background-color: rgb(255, 255, 255);
    background-color: #0E95A1;
} */


/*=====================================================================*/

.editor {
    grid-gap: 10px;
    grid-template-rows: auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 10px;
}

.editor-title {
    grid-row: 1;
    grid-column: 1/6;
    text-align: center;
    margin: 10px 0 3px;
}


/* .editor-container {} */

.control-boxes-section {
    /* grid-template-rows: auto; */
    margin-right: auto;
    /* margin-left: auto; */
    background-color: #A2D3C2;
    padding: 10px;
}

.controls {
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.control-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 10px auto;
    border-radius: 0.12em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.2s;
}

.control-btn:hover,
.download-link:hover {
    color: #ff0000;
    background-color: #FFFFFF;
}

.color-picker {
    height: 27px;
    margin: auto;
}

.input-text {
    grid-column: 1/6;
    grid-row: 2;
    height: 36px;
    display: block;
}

.download-link {
    display: block;
    grid-column: 1/6;
    grid-row: 5;
    padding: 0.35em 0.9em;
    border-radius: 0.12em;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    border: 0.1em solid #FFFFFF;
    background-color: white;
    text-align: center;
    transition: all 0.2s;
}


/*=====================================================================*/


/* helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}


/*=====================================================================*/

@media (max-width: 1050px) {
    .container {
        max-width: 870px;
    }
    .canvas-section,
    .control-boxes-section {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 720px) {
    .screen {
        visibility: hidden;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
    }
    .logo {
        margin-left: 6px;
    }
    .side-menu-btn {
        width: 8.125rem;
        display: block;
        color: #fff;
        height: 80px;
        background-color: #BA9380;
        border: #BA9380;
        font-size: 1.6rem;
    }
    .nav-container>ul {
        min-width: 200px;
        position: fixed;
        background-color: #BA9380;
        top: 0;
        right: 0;
        margin-top: 0;
        flex-direction: column;
        transform: translate(120%, 0);
        transition: transform .8s;
    }
    .nav-container a {
        line-height: 70px;
    }
    .nav-container li {
        height: 70px;
        width: 100%;
    }
    .menu-open .nav-container>ul {
        transform: translate(0, 0);
    }
    .menu-open .screen {
        opacity: 0.5;
        visibility: visible;
        transition: opacity .3s;
    }
}

@media (max-width: 560px) {
    .grid img {
        object-fit: contain;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .item {
        max-width: 85%;
        margin: 0 auto;
    }
    .gallery-container {
        margin-top: 10px;
    }
    .editor .canvas-section {
        width: 100%;
        text-align: center;
    }
    .editor .control-boxes-section {
        text-align: center;
        padding: 3px;
    }
    #my-canvas {
        width: 100%;
        margin-top: 10px
    }
    .controls {
        grid-template-rows: 1fr;
    }
    .editor {
        grid-template-columns: auto;
    }
}